{% extends 'base.html' %}

{% block title %}
    RECursion
{% endblock title %}

{% block css%}
{% load staticfiles %}
<link href="{% static 'css/home.css'%}">
<style>
  .side-card{
  }
  .sponsorImg{
    max-width: 120px;
    max-height:120px;
  }
  body{
    overflow-x: hidden;
  }
  .title{
    font-size: 7vw;
  }
  .subtitle{
    font-size: 2vw;
  }
  .haq{
    border-right:1px solid red;
  }
  .box{
    background: #455A64;
    color:#f3f3f3;
    padding : 2vw;
    margin: 0vw;
  }
  @media(max-width:450px){
  .title{
    font-size:14vw;
  }
  .subtitle{
    font-size: 5vw;
  }
  .haq{
    border-right:none;
  }
  .ntp{
    margin-left: 0px;
  }
}
@media(max-width:1023px){
  #homeImg{
    display: none;
  }
}
</style>
{% endblock%}  

{% block content %}
  <!-- <h2>Homepage</h2> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
  <!-- <script type="text/javascript" src=""></s -->
    {% if user.is_authenticated %}
    <script>
      $(document).ready(function(){
        $.notify("Welcome {{ user.username }}!", 
      { className:"success",position:"top right" }
      );
      }
      );
    </script>
  {% endif %}
  <script>
      $(document).ready(function(){
        $(".notifydrop").hide();
      $("#payAttn").click(function(){
        console.log("something");
        $(".notifydrop").toggle();
        console.log("check");
      });
      $(".notifydrop").click(function(){
        $(".notifydrop").toggle();
      });
      }
      );
    </script>
  <div class="pl-1 pr-1" style="max-width:250px;top:-5px;margin-left:auto;margin-right: 15px;">
    <button  class="btn btn-outline-dark" id="payAttn">
      <center class="" draggable="true">
        Pay Attention ! <span class="arrow"><i class="fas fa-chevron-circle-down"></i></span>
      </center>
    </button>
  </div>
  <div class="jombotron notifydrop p-2" style="max-width:250px;position:absolute;right:15px;top:109px;
  Z-INDEX:12;background: inherit;">
      <a href="{% url 'events:calender' %}">Check out upcoming events!</a>
      <hr class="mt-0">
      {% for event in events %}
      <h5 class="text-muted" style="text-transform:uppercase;">{{event.title}}</h5>
      {{event.description}}<br>
      <p class="small" style="color:#666666; float:right;">on {{event.start_time}}</p>
      {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card" style="background-color: inherit;border-style: none;margin-top: 4vw;margin-bottom: 1vw;">
        <div class="container">
          {% load static %}
          <img id="homeImg" src="{% static 'image/yRemoved.png'%}" height='350px' width='350px' style="float:right;">
          <h1 class="title" style="margin-left:-7px;">RECursion</h1>
          <h5 class="subtitle" style="color:#528CDD;">Programming Community of NIT Durgapur</h5>
          <p class="col-sm-12 col-lg-8 pl-0">We are programming community of NIT Durgapur, 
            with focus on Improving Coding culture institute wide by conducting regular lectures from beginner to advance topics of programming, Our goal is to increse
             student's participation in inter-colligiate contest like 
             ACM-ICPC and get better ranks.</p><br>
            <div class="row">
              <div class="col-sm-4 col-lg-3 ml-2 haq">
                <strong>Have a question ?</strong><br>
                <a class="btn btn-outline-success btn-sm mt-2 mb-2" href="{% url 'forum:list_questions' %}">AskREC</a>
              </div>
              <div class="col-sm-4 col-lg-4 ml-2 ntp">
                <strong>New to programming ?</strong><br>
                <a href="{% url 'forum:getting_started' %}"><button class="btn btn-sm btn-outline-success mt-2">Get Started</button></a>
              </div>
            </div>
        
          <div class="mt-5">
            <h3>Who we are</h3>
            RECursion NIT Durgapur is an initiative to embolden the budding coding minds through regular Code Classes, robust coding competitions and geeky sessions.RECursion NIT Durgapur is an initiative to embolden the budding coding minds through regular Code Classes, robust coding competitions and geeky sessions.RECursion NIT Durgapur is an initiative to embolden the budding coding minds through regular Code Classes, robust coding competitions and geeky sessions.
            <br><br>
            <center class="text-muted">So far we witnessed<br>
              <div class="box m-3" style="display:inline-block;">
                <h3>300+</h3>hours of Teaching
              </div>
              <div class="box m-3" style="display:inline-block;">
                <h3>6+ </h3>years of Experience
              </div>
              <div class="box m-3" style="display:inline-block;">
                <h3>50+</h3>Online / Offline Contests
              </div>
              <div class="box m-3" style="display:inline-block;">
                <h3>2000+</h3>Users
                </div>
            </center>
          </div>
        </div>
      </div> 
    </div>
  </div><br><br>

  <div class="container">
    <div class=" row mt-4">
      <div class="col-sm-12 col-md-12 col-lg-12">

        <center class="text-muted">Past Sponsors<br>
          <a href="https://www.jetbrains.com/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/jetbrain.svg.png' %}"></a>
          <a href="https://www.hackerrank.com/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/hackerrank.png' %}"></a>
          <a href="https://www.cloudsploit.com/"> <img class="sponsorImg ml-4"src="{% static 'image/sponsor/cloudsploit.png' %}"></a>
          <a href="https://www.codechef.com/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/codechef.png' %}"></a>
          <a href="https://www.facebook.com/hiredive/">  <img class="sponsorImg ml-4"src="{% static 'image/sponsor/hiredive.jpg' %}"></a>
          <a href="https://www.grabon.in/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/grabon.png' %}"></a>
          <a href="https://www.facebook.com/nutrichef.ie/?ref=search&__tn__=%2Cd%2CP-R&eid=ARDTDJ4hXrAW-2WMWQ8pJF8H6bGOJwbca2ee0kDmWC8cbSwVJ7RA1F-upYN4dNK66eWp-9HvxWlsJcKY"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/nutrichef.png' %}"></a>
        </center>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function() {
            var colors = [ "#F95C39", "#FED330", "#FC5C65", "#26DE81",];
            var rand = Math.floor(Math.random() * colors.length);
            $('.title').css("color", colors[rand]);
  });
  </script>
{% endblock %}