{% extends 'base.html' %}

{% block title %}
    RECursion
{% endblock title %}

{% block css%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="{% static 'css/carousel.css'%}">

<style>
  .side-card{
  }
  .sponsorImg{
    max-width: 120px;
    max-height:120px;
  }
  body{
    overflow-x: hidden;
  }
  .title{
    font-size: 7vw;
  }
  .subtitle{
    font-size: 2vw;
  }
  .haq{
    border-right:1px solid red;
  }
  .boxImage{
    width:100px;
  }
  .box{
    background:inherit;
    color:#bdc3c7;
    padding : 2vw;
    margin: 0vw;
  }
  @media(max-width:450px){
  .title{
    font-size:14vw;
  }
  .subtitle{
    font-size: 5vw;
  }
  .haq{
    border-right:none;
  }
  .ntp{
    margin-left: 0px;
  }
}
@media(max-width:1023px){
  #homeImg{
    display: none;
  }
}
</style>
{% endblock%}  

{% block content %}
{% load widget_tweaks %}
  <!-- <h2>Homepage</h2> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
  <!-- <script type="text/javascript" src=""></s -->
    {% if user.is_authenticated %}
    <script>
      $(document).ready(function(){
        $.notify("Welcome {{ user.username }}!", 
      { className:"success",position:"top right" }
      );
      }
      );
    </script>
  {% endif %}
  <script>
      $(document).ready(function(){
        $(".notifydrop").hide();
      $("#payAttn").click(function(){
        console.log("something");
        $(".notifydrop").toggle();
        console.log("check");
      });
      $(".notifydrop").click(function(){
        $(".notifydrop").toggle();
      });
      }
      );
    </script>
  <div class="pl-1 pr-1" style="max-width:250px;top:-5px;margin-left:auto;margin-right: 15px;">
    <button  class="btn btn-outline-dark" id="payAttn">
      <center class="" draggable="true">
        Upcoming Event ! <span class="arrow"><i class="fas fa-chevron-circle-down"></i></span>
      </center>
    </button>
  </div>
  <div class="jombotron notifydrop p-2 pb-0" style="max-width:250px;position:absolute;right:15px;top:109px;
  Z-INDEX:12;background:white;border:1px solid grey;border-radius:8px;">
      <a class="small text-center"href="{% url 'events:calender' %}">Check out upcoming events!</a>
      <hr class="mt-0">
      {% for event in events %}
      <h5 class="text-muted text-center" style="text-transform:uppercase;">{{ event.title }}</h5>
      <span style="font-size:90%;">{{ event.formatted_markdown | safe }}</span><br>
      <p class="small mb-0" style="color:#666666; float:right;">on {{ event.start_time }}</p>
      {%endfor%}
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card" style="background-color: inherit;border-style: none;margin-top: 4vw;margin-bottom: 1vw;">
        <div class="container">
          {% load static %}
          <img id="homeImg" src="{% static 'image/yRemoved.png'%}" height='350px' width='350px' style="float:right;">
          <h1 class="title" style="margin-left:-7px;">RECursion</h1>
          <h5 class="subtitle" style="color:#528CDD;">Programming Community of NIT Durgapur</h5>
          <p class="col-sm-12 col-lg-8 pl-0">We are programming community of NIT Durgapur, 
            with focus on improving coding culture institute wide by conducting regular lectures from beginner to advance topics of programming. Our goal is to increase
             student's participation in inter-collegiate contest like 
             ACM-ICPC and help them get better.</p><br>
            <div class="row">
              <div class="col-sm-4 col-lg-3 ml-2 haq">
                <strong>Have a question ?</strong><br>
                <a class="btn btn-outline-success btn-sm mt-2 mb-2" href="{% url 'forum:list_questions' %}">AskREC</a>
              </div>
              <div class="col-sm-4 col-lg-4 ml-2 ntp">
                <strong>New to programming ?</strong><br>
                <a href="{% url 'forum:getting_started' %}"><button class="btn btn-sm btn-outline-success mt-2">Get Started</button></a>
              </div>
            </div>
<!-- About Us Section-->
<div class="jumbotron pt-5 mt-5" id="sec">
  <div class="row" style="margin-bottom: 15vh; margin-top: 15vh">
    <div class="col-lg-4">
      <hr>
    </div>
    <div class="col-lg-4">
      <center><h3>Who are we ?</h3></center>
    </div>
    <div class="col-lg-4">
      <hr>
    </div>
  </div>
  <ul class="container mt-0 pt-0">
    <li>
      <span class="fa fa-code"></span>

      <h3>Mission</h3>
      <p>Working towards the improvement of campus's coding culture by organizing regular coding classes,coding contests and geeky sessions.</p>
    </li>
    <li><span class="fas fa-heart"></span>
      <h3>Value</h3>
      <p>We believe that helping each other is the only way. We take care and always look to get the best out of everyone. </p>
      
    </li>
    <li><span class="fa fa-users"></span>
      <h3>Vision</h3>
      <p>To grow as a strong community in the world of coding, to make impact in various fields and uphold the integrity of NIT Durgapur as a technical institution. </p>
     </li>

  </ul>
</div>
<!-- Carousel-->
 <div class="container">         
  <div class="row" style="padding: 2%;margin-top:15%;background-color:#FAFAFA;">
    <div class="col-lg-6" style="padding-bottom: 0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
      <script>!function(e){"undefined"==typeof module?this.charming=e:module.exports=e}(function(e,n){"use strict";n=n||{};var t=n.tagName||"span",o=null!=n.classPrefix?n.classPrefix:"char",r=1,a=function(e){for(var n=e.parentNode,a=e.nodeValue,c=a.length,l=-1;++l<c;){var d=document.createElement(t);o&&(d.className=o+r,r++),d.appendChild(document.createTextNode(a[l])),n.insertBefore(d,e)}n.removeChild(e)};return function c(e){for(var n=[].slice.call(e.childNodes),t=n.length,o=-1;++o<t;)c(n[o]);e.nodeType===Node.TEXT_NODE&&a(e)}(e),e});
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
      <section>
  
        <div class="swiper-container slideshow shadow-sm" style="z-index: 0;">
      
          <div class="swiper-wrapper">
      
            <div class="swiper-slide slide">
              {% load static %}
              <div class="slide-image" style="background-image: url('../media/images/carousel/pic1.jpg')"></div>
              <span class="slide-title">REChase</span>
            </div>
      
            <div class="swiper-slide slide">
              <div class="slide-image" style="background-image: url('../media/images/carousel/pic2.jpg')"></div>
              <span class="slide-title">ALOHOMORA</span>
            </div>
      
            <div class="swiper-slide slide">
              <div class="slide-image" style="background-image: url('../media/images/carousel/pic3.jpg')"></div>
              <span class="slide-title" style="font-size: 2vw">SESSION WITH FACULTY ADVISORS</span>
            </div>
  
            <div class="swiper-slide slide">
                <div class="slide-image" style="background-image: url('../media/images/carousel/pic4.jpg')"></div>
                <span class="slide-title">GEEKY SESSION</span>
            </div>
  
            <div class="swiper-slide slide">
                  <div class="slide-image" style="background-image: url('../media/images/carousel/pic5.jpg')"></div>
                  <span class="slide-title">REChase</span>
            </div>
  
      
          </div>
      
          <div class="slideshow-pagination"></div>
      
          <div class="slideshow-navigation">
            <div class="slideshow-navigation-button prev"><span class="fas fa-chevron-left"></span></div>
            <div class="slideshow-navigation-button next"><span class="fas fa-chevron-right"></span></div>
          </div>
      
        </div>
      
      </section>
      <script src="{% static 'js/carousel.js'%}"></script>
  
  </div> 
 <!--List of Activities--> 
  <div class="col-lg-6" style="padding-bottom: 0;">
    <div>
      <h3><center>Our Activities</center></h3>
    </div>
      <hr>
        <ol class="list list--ordered">
          <li class="list__item mb-4">  Regular coding classes and geeky sessions</li>
          <li class="list__item mb-4">  RECode : Monthly online coding contest</li>
          <li class="list__item mb-4">  Alohomora : Onsite coding contest</li>          
          <li class="list__item mb-4">  Improving student's participation in ICPC</li>
          <li class="list__item mb-4">  REChase : Annual treasure hunting competition</li>
          <li class="list__item mb-4">  Organizing AMA Sessions with successful alumnus</li>
          <li class="list__item mb-4">  Tech Townhall : Annual talk with successful students or alumni</li>
          <li class="list__item mb-4">  Mind Sweepers : Combining logic and concepts with fun and frolic</li>
        </ol>  
      <br><br>
    </div>
    
  
  </div>
</div>
<!--Experiance-->
 <div class="mt-5">
            <center class="text-muted">So far we have witnessed<br>
              <div class="box m-3" style="display:inline-block;">
                  <i class="fas fa-chalkboard-teacher fa-3x"></i><br><br>
                <h3>300+</h3>hours of Teaching
              </div>
              <div class="box m-3" style="display:inline-block;">
                  <i class="fas fa-lightbulb fa-3x"></i><br><br>
                <h3>6+ </h3>years of Experience
              </div>
              <div class="box m-3" style="display:inline-block;">
                  <i class="fas fa-code fa-3x"></i><br><br>
                <h3>50+</h3>Online / Offline Contests
              </div>
              <div class="box m-3" style="display:inline-block;">
                  <i class="fas fa-users fa-3x"></i><br><br>
                <h3>2000+</h3>Users
                </div>
            </center>
          </div>
        </div>
      </div> 
    </div>
  </div><br><br>

  <div class="container">
    <div class=" row mt-4">
      <div class="col-sm-12 col-md-12 col-lg-12">

        <center class="text-muted">Past Sponsors<br>
          <a href="https://www.jetbrains.com/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/jetbrain.svg.png' %}"></a>
          <a href="https://www.hackerrank.com/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/hackerrank.png' %}"></a>
          <a href="https://cloudsploit.com/"> <img class="sponsorImg ml-4"src="{% static 'image/sponsor/cloudsploit.png' %}"></a>
          <a href="https://www.codechef.com/"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/codechef.png' %}"></a>
          <a href="https://www.facebook.com/hiredive/">  <img class="sponsorImg ml-4"src="{% static 'image/sponsor/hiredive.jpg' %}"></a>
          <a href="https://www.facebook.com/nutrichef.ie/?ref=search&__tn__=%2Cd%2CP-R&eid=ARDTDJ4hXrAW-2WMWQ8pJF8H6bGOJwbca2ee0kDmWC8cbSwVJ7RA1F-upYN4dNK66eWp-9HvxWlsJcKY"><img class="sponsorImg ml-4"src="{% static 'image/sponsor/nutrichef.png' %}"></a>
        </center>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(function() {
            var colors = [ "#F95C39", "#FED330", "#FC5C65", "#26DE81",];
            var rand = Math.floor(Math.random() * colors.length);
            $('.title').css("color", colors[rand]);
  });
  </script>
{% endblock %}