{% for question in questions %} 
<li class="col-sm-12 col-lg-12 ques_div mt-2 mb-1" id="content">
    <ul id="attributeList">
        <div class="row mb-1">
            <!-- IMAGE BLOCK -->
            <div class="col-sm-1 col-lg-1 mr-2">
                {% for p in profile %}
                    {% if p.user == question.user_id %}
                      {% if not question.anonymous_ask and p.image %}
                <img src="{{ p.image.url }}" class="rounded-circle mt-2 mb-1" width="55px" height="55px" alt="img">
                    {% else %}
                    {% load staticfiles %}
                <img src="{% static 'image/annonymous_user.jpg'%}" width="50px" height="50px" alt="img">      
                    {% endif %}
                    {% endif %}
                {% endfor %}    
            </div>    
            <div class="col-lg-6 col-sm-12">
                <div>
                    <a id="questionDetail" href="{% url 'forum:detail_questions' question.id  %}">
                        <strong>{{ question.title }}</strong>
                    </a>
                    <br>
                </div>
                <div id="addedBy" class="text-muted">
                    {% if question.anonymous_ask == False %}
                    <li>Added by <a href="{% url 'user_profile:view_profile' question.user_id.id  %}">{{question.user_id}}</a> on</li>
                    {% else %}
                    <li>Added by Anonymous on</li>
                    {% endif %}
                </div>
                <li id="postedOn" class="text-muted">{{question.created_at}}</li>
                <br>
                <li id="tagList">
                    <ul>
                        {% for tagging in taggings %} 
                          {% if tagging.question == question %} 
                            {% for tag in tags %} 
                              {% if tagging.tag == tag %}
                              {% comment %} <li class="tagName" class="font-italic text-muted">{{tag.name}}</li> {% endcomment %}
                              <li style="display:inline-block;"><a class="tagName" href="{% url 'forum:filter_question' tag.id  %}">{{ tag.name }}</a></li>
                              {% endif %} 
                            {% endfor %} 
                          {%endif%} 
                        {% endfor %}
                    </ul>
                </li>
            </div>
                <!-- <div id="AnswerFollow_block" style="display: inline-block;"> -->
                    <div class="col-sm-5 col-md-3 col-lg-3 mt-auto mb-auto" id="answerBox" style="display: inline-block;">
                      <div class="row">
                          <div class="col-sm-6">
                            <span id="followValue" style="font-size:70%;">{{ question.answers_set.count }} answers
                            </span>
                          </div>
                          <div class="col-sm-5 col-md-3 col-lg-6" id="followBox" style="display:inline-block;">
                            <span id="answerValue" style="font-size: 70%;">{{ question.follows_set.count }} follows</span>
                          </div>
                      </div>
                    </div>
                <!-- </div> -->
          </div>
    </ul>
</li>
<hr> 
{% endfor %}