{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link href="{% static 'css/team.css'%}">

  <body style="background:#f3f3f3;"> 
    <center><h1 style="color:#F95c39;">Meet the Team</h1></center>
    <!-- TEAM HEADER -->
    <div class="container"> 
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/4 Chetan.jpg" height="150px;" width="150px;"
            style="box-shadow: 0.5px 0.5px 0.5px grey">
            <hr class="mb-0"style="background-color:#cccccc;">
            Chetan Garg<br>
            <i class="text-muted">President</i><br>
            <a href="#"><i class="far fa-envelope"></i></a>&nbsp;
            <a href="#"><i class="fas fa-phone"></i></a>
          </center>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/4 Vishwanath.jpg" height="150px;" width="150px;"
            style="box-shadow: 0.5px 0.5px 0.5px grey">
            <hr class="mb-0"style="background-color:#cccccc;">
            Vishvanath Dutt Sharma<br>
            <i class="text-muted">Convenor</i><br>
            <a href="#"><i class="far fa-envelope"></i></a>&nbsp;
            <a href="#"><i class="fas fa-phone"></i></a>
          </center>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/4 Saurav Agarwal.jpg" height="150px;" width="150px;"
            style="box-shadow: 0.5px 0.5px 0.5px grey">
            <hr class="mb-0"style="background-color:#cccccc;">
            Sourav Agarwal<br>
            <i class="text-muted">Treasurer</i><br>
            <a href="#"><i class="far fa-envelope"></i></a>&nbsp;
            <a href="#"><i class="fas fa-phone"></i></a>
          </center>
          </div>
        </div>
      </div>
    </div><br>


    <!-- TEAM MEMBER -->
    <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded container"> 
      <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/4 Vikash.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/4 Anand.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/4 Abhishek.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="head mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="third mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="second mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="second mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="second mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="second mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>

        <div class="col-sm-3 col-md-2 col-lg-2">
          <center>
            <img class="second mt-3 rounded-circle" src="../media/images/x.jpg" height="75px" width="75px">
            <hr class="mb-0"style="background-color:#cccccc;">
            Name<br>
            <i class="text-muted">Designation</i>
          </center>
        </div>
      </div>
    </div><hr class="mt-0" style="background-color:#cccccc;">

    <!-- ALUMNI SECTION -->
    <center><h1 style="color:#F95c39;">Meet our Alumni</h1></center>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col-3 ml-3 mt-3">
                <img class="alumni rounded-circle" src="../media/images/x.jpg" width="130px">
              </div>
              <div class="col-8" style="font-size: 85%;">
                <span class="text-success">Siddharth Garg</span><br>
                <i>B.Tech. in Information Technology</i> <br>
                Experience: <br>
                <small class="text-muted">SDE, Amazon(Jul 2018 -Present) <br>
                SDE Intern at Amazon (May 2017-July 2017)<br>
                Applications Developer Intern at Roofpik (May 2016-July 2016)<br>
                SDE Intern at BigStartups (December 2015-January 2016)<br>
                Web Design Intern at eDominer (December 2015-January 2016)<br></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col-3 ml-3 mt-3">
                <img class="alumni rounded-circle" src="../media/images/x.jpg" width="130px">
              </div>
              <div class="col-8" style="font-size: 85%;">
                <span class="text-success">Siddharth Garg</span><br>
                <i>B.Tech. in Information Technology</i><br>
                Experience: <br>
                <small class="text-muted">SDE, Amazon(Jul 2018 -Present) <br>
                SDE Intern at Amazon (May 2017-July 2017)<br>
                Applications Developer Intern at Roofpik (May 2016-July 2016)<br>
                SDE Intern at BigStartups (December 2015-January 2016)<br>
                Web Design Intern at eDominer (December 2015-January 2016)<br></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col-3 ml-3 mt-3">
                <img class="alumni rounded-circle" src="../media/images/x.jpg" width="130px">
              </div>
              <div class="col-8" style="font-size: 85%;">
                <span class="text-success">Siddharth Garg</span><br>
                <i>B.Tech. in Information Technology</i><br>
                Experience: <br>
                <small class="text-muted">SDE, Amazon(Jul 2018 -Present) <br>
                SDE Intern at Amazon (May 2017-July 2017)<br>
                Applications Developer Intern at Roofpik (May 2016-July 2016)<br>
                SDE Intern at BigStartups (December 2015-January 2016)<br>
                Web Design Intern at eDominer (December 2015-January 2016)<br></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row">
              <div class="col-3 ml-3 mt-3">
                <img class="alumni rounded-circle" src="../media/images/x.jpg" width="130px">
              </div>
              <div class="col-8" style="font-size: 85%;">
                <span class="text-success">Siddharth Garg</span><br>
                <i>B.Tech. in Information Technology</i><br>
                Experience: <br>
                <small class="text-muted">SDE, Amazon(Jul 2018 -Present) <br>
                SDE Intern at Amazon (May 2017-July 2017)<br>
                Applications Developer Intern at Roofpik (May 2016-July 2016)<br>
                SDE Intern at BigStartups (December 2015-January 2016)<br>
                Web Design Intern at eDominer (December 2015-January 2016)<br></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}