{% extends 'base.html' %}
{% block css%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/webd_team.css'%}">
{% endblock%}
{% block content %}

<center><h1 style="color:#F95c39; margin-top: 1%; margin-bottom: 3%;">Behind The Site</h1></center>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Vishvanath.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/vishvanath45" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/vishvanathdutt/" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Vishvanath Dutt Sharma</h3>
                        <span class="post">Web Team Lead</span>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Jaysurya.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/vjs22334" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/jeyasurya-v-789014165" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Jeya Surya</h3>
                        <span class="post">Senior Developer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/AyushK.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/kmAyush" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/ayush-krishna-murthi-4117b516a/" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Ayush Krishna Murthi</h3>
                        <span class="post">Junior Developer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Nikhil.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/ash1969" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/nikhil-vashistha-a2b1b1179/" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Nikhil Vashistha</h3>
                        <span class="post">Junior Developer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Pankaj.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/pkkp86nitd" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/pankaj-kumar-a08485156/" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Pankaj Kumar</h3>
                        <span class="post">Junior Developer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Protik.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/PiedPiPr" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/protikchanda" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Protik Chanda</h3>
                        <span class="post">Junior Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<center><h1 style="color:#F95c39; margin-top: 1%; margin-bottom: 3%;">Contributors</h1></center>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-0 col-lg-2"></div>
        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Chetan.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/chetangargnitd" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/chetannitd/" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Chetan Garg</h3>
                        <span class="post">Contributor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-4" style="padding: 5%" style="padding: 5%">
            <div class="our-team">
                <div class="pic">
                    <img src="../media/images/webd_team/Sparsh.jpg">
                    <ul class="social">
                        <li><a href="https://github.com/sparshk" class="fab fa-github"></a></li>
                        <li><a href="https://www.linkedin.com/in/sparsh-kedia-616821150/" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Sparsh Kedia</h3>
                        <span class="post">Contributor</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-0 col-lg-2"></div>
    </div>
    </div>
{% endblock %}