{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<body>
    <center><h3>Set New Password</h3></center>
    <div class="container">
      <center>
      <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded" style="margin: 2%; max-width: 600px;">
      <center>
          <form method="POST">
            <table style="margin: 6%">
                {% render_field form.new_password1 class="form-control mt-4" style="background:white;" placeholder="New Password" %}
                <hr>
              <ul class="mt-3 alert alert-warning" style="text-align: left;">
                <small>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
                </small>
              </ul>
                {% render_field form.new_password2 class="form-control mt-4" style="background:white;" placeholder="Confirm Password" %}
            </table>
                <br>
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                  {% for field in form %}
                    {% for error in field.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endfor %}
              </div>
          {% endif %}
          <button type="submit" class="save btn btn-success">Submit</button>
          </form>
      </center>
    </div>
    </center>
    </div>
</body>
{% endblock %}
