{% extends 'base.html' %}
{% block content %}
<body>
<div class="container">
 <center>
    <p class="mt-3 alert alert-warning">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
    </p>
    <p class="mt-3 alert alert-warning">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
    </p>
 </center>
</div>
</body>
{% endblock %}