{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<body>
    <center><h3>Forgot password</h3></center>
  <div class="container">
    <center>
    <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded" style="margin: 2%; max-width: 600px;">
    <center>
        <form class='my-ajax-form' method="POST"  data-url='{{ request.build_absolute_uri|safe }}'>
          <table style="margin: 6%">
            {% render_field form.email class="form-control mt-4" style="background:white;" placeholder="Enter Your Email" %}
              <input type="hidden" name="ajax_check" value="True">
          </table>
          <button type="submit" class="save btn btn-success">Submit</button>
          {% if form.errors %}
            <div class="alert alert-warning" role="alert">
                {% for field in form %}
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        </form>
    </center>
    <div id='msg'>

    </div>
  </div>
  </center>
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var $myForm = $('.my-ajax-form')
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            console.log($formData)
            var $thisURL = $myForm.attr('data-url')

            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })
        })

         function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            $("#msg").html(data)
            $myForm[0].reset();



        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
    </script>
{% endblock %}