#answerBox{
	text-align: center;
}
#followBox{
	text-align: center;
}
#followValue{
	color:#247BA0;
}
#answerValue{
	margin: 0px;
	color:#F95C39;
}
.card{
	box-shadow: 2px 2px 2px grey;
	margin-left:2px;
	text-align:left;
	background-color: white;
}
.forumQ{
}
#questionDetail{
	color:#5277CF;
	font-size:110%;
	overflow:hidden;
	text-overflow: ellipsis;
}
#content{
	margin-left: 10px;
}
#content li{
	/*border:1px red solid;*/
}
#tagList{
	color:#F95C39;
	display: inline-block;
}
hr{
	margin: 0px;
}
#tagName{
	background-color: #E1ECF4;
	display: inline;
	color:#6A73B4;
	padding: 3px;
	font-size: 70%;
	border-radius: 1px;
}
#postedOn{
	position: absolute;
	vertical-align: bottom;
}
#addedBy{
}
#addedNav{
	background-color: rgba(0,0,0,0.4);
}

#haveAQ{
	color:#F95C39;
	font-size:325%;
}
input[type=text] {
	width:2%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.text-muted{
	font-size: 70%;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 150px;
}
#search{
	margin-top:3px; 
	max-width: 250px;
	height:40px;
	box-shadow:3px 3px 3px grey;
	border-radius:25px 0 0 25px; 
	display: inline-block;
}
#postQ{
	background-color: #247BA0;
	color: white;
	box-shadow:3px 3px grey;
	margin-bottom:5px; 
}
#searchButton{
	height:40px;
	position: relative;
	left:-10px;
	background-color:#F95C39;
	color:white;
	box-shadow:1px 1px grey;
	border-radius:0 25px 25px 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
