section {
    width: 100%;
    height: 90vh;
}

.swiper-container {
    width: 100%;
    height: 90vh;
}

.slide {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
}

.slide-image {
    position: absolute;
    top: -200px;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% + 400px);
    background-position: 50% 50%;
    background-size: contain;
}

.slide-title {
    font-size: 3rem;
    line-height: 1;
    max-width: 50%;
    white-space: normal;
    word-break: break-word;
    color: #FFF;
    z-index: 100;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

@media (min-width: 45em) {
    .slide-title {
        font-size: 4vw;
        max-width: none;
    }
}

.slide-title span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
}

.slideshow {
    border-radius: 2%;
    position: relative;
}

.slideshow-pagination {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .3s opacity;
    z-index: 10;
}

.slideshow-pagination-item {
    display: flex;
    align-items: center;
}

.slideshow-pagination-item .pagination-number {
    opacity: 0.5;
}

.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
    cursor: pointer;
}

.slideshow-pagination-item:last-of-type .pagination-separator {
    width: 0;
}

.slideshow-pagination-item.active .pagination-number {
    opacity: 1;
}

.slideshow-pagination-item.active .pagination-separator {
    width: 10vw;
}

.slideshow-navigation-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    z-index: 1000;
    transition: all .3s ease;
    color: #FFF;
}

.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.slideshow-navigation-button.prev {
    left: 0;
}

.slideshow-navigation-button.next {
    right: 0;
}

.pagination-number {
    font-size: 1.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
}

.pagination-separator {
    display: none;
    position: relative;
    width: 40px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: all .3s ease;
}

@media (min-width: 45em) {
    .pagination-separator {
        display: block;
    }
}

.pagination-separator-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform-origin: 0 0;
}