#sec {
    font-family: 'Raleway', sans-serif;
    background: #FAFAFA;
    text-align: center;
    word-wrap: break-word;
}

#sec h2 {
    font-weight: 200;
    font-size: 30px;
    color: #34393B;
}

#sec ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

#sec ul li {
    padding: 40px;
    max-width: 300px;
    transition: box-shadow 0.3s;
}

#sec ul li:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#sec ul li:hover span {
    color: #F45B38;
}

#sec ul li:hover p {
    color: #555;
}

#sec ul li:hover h3 {
    color: #34393B;
}

#sec ul li:hover h3:after {
    width: 25px;
}

#sec ul li span {
    font-size: 2.6em;
    display: block;
    transition: color 0.3s;
    color: #a2a2a2;
}

#sec ul li span:before, #sec ul li span:after {
    position: static;
}

#sec ul li h3 {
    color: #6f6f6f;
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    transition: color 0.3s;
}

#sec ul li h3:after {
    content: '';
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 1px;
    background: #6f6f6f;
    transition: width 0.3s;
}

#sec ul li p {
    margin-top: 15%;
    color: #a2a2a2;
    text-align: left;
    text-indent: 1em;
    font-size: 16px;
    line-height: 26px;
    transition: color 0.3s;
}