#container
{
    position:fixed;
    width:100%;
    height: 100vh;
    padding-left: 43%;
    padding-top: 18%;
    background: black;
    z-index:999999;
}
@keyframes ldio-bsuikmdo7q {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-bsuikmdo7q div { box-sizing: border-box!important }
  .ldio-bsuikmdo7q > div {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 74px;
    left: 74px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #fff4f5 transparent #fff4f5 transparent;
    animation: ldio-bsuikmdo7q 1.6393442622950818s linear infinite;
  }
  
  .ldio-bsuikmdo7q > div:nth-child(2), .ldio-bsuikmdo7q > div:nth-child(4) {
    width: 40px;
    height: 40px;
    top: 80px;
    left: 80px;
    animation: ldio-bsuikmdo7q 1.6393442622950818s linear infinite reverse;
  }
  .ldio-bsuikmdo7q > div:nth-child(2) {
    border-color: transparent #f4eee8 transparent #f4eee8
  }
  .ldio-bsuikmdo7q > div:nth-child(3) { border-color: transparent }
  .ldio-bsuikmdo7q > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-bsuikmdo7q > div:nth-child(3) div:before, .ldio-bsuikmdo7q > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 20px;
    background: #fff4f5;
    border-radius: 50%;
    box-shadow: 0 48px 0 0 #fff4f5;
  }
  .ldio-bsuikmdo7q > div:nth-child(3) div:after {
    left: -4px;
    top: 20px;
    box-shadow: 48px 0 0 0 #fff4f5;
  }
  
  .ldio-bsuikmdo7q > div:nth-child(4) { border-color: transparent; }
  .ldio-bsuikmdo7q > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-bsuikmdo7q > div:nth-child(4) div:before, .ldio-bsuikmdo7q > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 14px;
    background: #f4eee8;
    border-radius: 50%;
    box-shadow: 0 36px 0 0 #f4eee8;
  }
  .ldio-bsuikmdo7q > div:nth-child(4) div:after {
    left: -4px;
    top: 14px;
    box-shadow: 36px 0 0 0 #f4eee8;
  }
  .loadingio-spinner-double-ring-mxkhh5e7rz {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #0a0909;
  }
  .ldio-bsuikmdo7q {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-bsuikmdo7q div { box-sizing: content-box; }