.tags {
  list-style: none;
  overflow: hidden; 
  padding: 0;
}
.tags li {
float: left; 
}

.tag {
font: 8px/1.5 'PT Sans', serif;
background: #E0EAF5;
border-radius: 3px 0 0 3px;
color: #5476AC;
display: inline-block;
padding: 4px 4px 4px 4px;
position: relative;
border-radius:3px; 
margin: 0 4px 4px 0;
text-decoration: none;
-webkit-transition: color 0.2s;
}