.card{
  box-shadow:1px 1px 1px grey;
  background-color: white;
}
.greyFilter{
	filter:none;
}
img:hover{
	filter:grayscale(100%);
}
.line{
  width:100%;
  height: 1px;
}
.head{
	border:5px solid #FF3333;
}
.shadow{
	background:#ff5e57;
	opacity: 0.5;
}
.third{
	border:5px solid #FFBBFF;
}
.second{
	border:5px solid #77FF77;
}
.alumni{
	border:5px solid #B53471;
}