.our-team {
    text-align: center;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}

.our-team .pic {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .pic:after {
    opacity: 1;
}

.our-team .pic img {
    width: 100%;
    height: auto;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    opacity: 1;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 15px;
    color: #F4753A;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}

.our-team .social li a:hover {
    background: #fff;
    color: #000;
}

.our-team .team-content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ddd;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.our-team:hover .team-content {
    border: 2px dotted #F4753A;
}

.our-team .team-info {
    width: 100%;
    color: #464646;
    position: absolute;
    bottom: 12px;
    left: 0;
}

.our-team .title {
    font-size: 15px;
    font-weight: 650;
    color: #464646;
    margin: 0 0 5px 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .title {
    color: #F4753A;
}

.our-team .post {
    display: block;
    font-size: 14px;
    color: #464646;
}