{% extends 'base.html' %} 
{% block content %} 
{% load widget_tweaks %}
{% load staticfiles %}
 <!-- CSS/JS IMPORTS  -->
 <link rel="stylesheet" href="{% static 'css/detail.css' %}">
 <link rel="stylesheet" href="{% static 'css/tag.css' %}"> {% load static %}
  <!-- CSS/JS IMPORTS ENDS -->

 <!-- PAGE CONTENT START -->
 <div class="container">
    {% csrf_token %}
      
    {% if user_permission == True %}
    {% if experience.verification_Status == 'Changes Requested' %}
       <ul class="mb-5">
        <li class="alert alert-warning" role="alert">Changes were requested in this Interview Experience by <a href="{% url 'user_profile:view_profile' revision.reviewer.id  %}">{{revision.reviewer}}</a>: {{ revision.message }}</li>
       </ul>
    {% endif %}
  {% elif experience.user == request.user %}
    {% if experience.verification_Status == 'Changes Requested' %}
       <ul class="mb-5">
        <li class="alert alert-warning" role="alert">Changes were requested in this Interview Experience by <a href="{% url 'user_profile:view_profile' revision.reviewer.id  %}">{{revision.reviewer}}</a>: {{ revision.message }}</li>
       </ul>
    {% endif %}
  {% endif %}

    <!-- BACK BUTTON -->
    <small><a href="{% url 'experience:list_experiences' %}" class="text-muted">< Back to Interview Experience</a></small>
    <br>

    <!-- ROW STARTS -->
    <div class="row mt-4">

        <!-- PAGE DETAIL COLUMNS -->
        <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="card">
                        <div class="card-header">
                                <!-- QUESTION HEADER -->
                                <span><h4 class="card-title mb-0">Interview Experience {{ experience.id }}
                                {% if exp_update_perms == True %}
                                <a href="{% url 'interview_exp:update_experience' experience.id  %}"><button style="float: right;" type="button" class="btn btn-sm btn-outline-primary">Update</button></a></h4>
                                {% endif %}
                                </span>
                        </div>



                        <!-- TEXT DETAILS -->
                        <div class="card-body pb-2">
                            <blockquote class="mb-0">
                                <p>{{ experience.formatted_markdown | safe }}</p>
                                <p class="card-text">
                                    <i>
                                        <img src="{{ profile.image.url }}" width="5%" height="5%" style="border-radius: 30px; float: left;" alt="img">
                                        <small class="mb-0" style="position:relative; top:15px;">
                                          &nbsp
                                            <a href="{% url 'user_profile:view_profile' experience.user.id  %}">{{experience.user}}</a>
                                             edited this page on {{ experience.updated_at }}
                                        </small>
                                        <span class="badge badge-secondary" style="float:right;position:relative; top:15px;" title="Status">{{ experience.verification_Status }}</span>
                                    </i>
                                    
                                </p>
                            </blockquote>
                        </div>
                        <!-- TEXT DETAIL ENDS -->
              </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-3 mb-2 mt-0">
                <div class="card">
                        <div class="card-header">
                            Interview Details
                        </div>
                        <div class="card-body">
                                <ul style="font-size:100%">
                                    <li title="Company"><i class="fas fa-building btn btn-light mb-1"></i>&nbsp {{ experience.company }}</li>
                                    <li title="Job Profile"><i class="fas fa-user-tie btn btn-light mb-1"></i>&nbsp {{ experience.job_Profile }}</li>
                                    <li title="Year"><i class="fas fa-calendar-alt btn btn-light mb-1"></i>&nbsp {{ experience.year }}</li>
                                    <li title="Rounds"><i class="fas fa-user-edit btn btn-light mb-1"></i>&nbsp {{ experience.no_of_Rounds }}</li>
                                    
                                </ul>
                        </div>
                </div>
        </div>
    </div>

    {% if user_permission == True %}
    {% if experience.verification_Status == 'Changes Requested' %}
       <ul class="mt-5">
         <li><a href="{% url 'interview_exp:revise_experience' experience.id 'Accept' %}"><button type="button" class="btn btn-outline-success">Accept</button></a></li>
         <li class="mt-5"><a href="{% url 'interview_exp:revise_experience' experience.id 'Reject' %}"><button type="button" class="btn btn-outline-danger">Reject</button></a></li>
       </ul>
    {% elif experience.verification_Status == 'Review Pending' %}
       <ul class="mt-5">
         <li><a href="{% url 'interview_exp:revise_experience' experience.id 'Accept' %}"><button type="button" class="btn btn-outline-success">Accept</button></a></li>
         <li class="mt-5"><a href="{% url 'interview_exp:revise_experience' experience.id 'Reject' %}"><button type="button" class="btn btn-outline-danger">Reject</button></a></li>
       </ul>
    {% endif %}
  {% endif %}

</div>

{% endblock %}
