<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECursion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <h1>Interview Experience {{ experience.id }}</h1>
    <img src="{{ profile.image.url }}" width="55px" height="55px" alt="img">
    <p><a href="{% url 'user_profile:view_profile' experience.user.id  %}">{{experience.user}}</a> edited this page on {{ experience.updated_at }}</p>
    {% if request.user == experience.user %}
                    <div>
                    <a href="{% url 'interview_exp:update_experience' experience.id  %}">Update</a>
                    </div>
    {% endif %}
    <ul>
        <li>Company: {{ experience.company }}</li>
        <li>Job Profile: {{ experience.job_Profile }}</li>
        <li>Year: {{ experience.year }}</li>
        <li>Rounds: {{ experience.no_of_Rounds }}</li>
        <li>Status: {{ experience.verification_Status }}</li>
    </ul>

    <p>{{ experience.interview_Questions }}</p>

</body>
</html>