{% extends 'base.html'%}
{% block title%}Interview form{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
    <a href="{% url 'experience:list_experiences' %}" class="text-muted small">< Back to Home</a>
    <h2 class="mb-3"style="margin-top:2%;">Interview Experience Form</h2>    
    <div class="card">
        <form method="POST" class="mr-lg-4 ml-lg-4 p-lg-5 p-1">
            <div class="container">
                <div class="form-group row mt-md-2 mt-sm-1">
                    {% csrf_token %}
                    <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" style="">
                        <span>Company</span>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-10 mb-2">
                        {% render_field form.company class="form-control" placeholder="Enter Company Name" style="display:inline-block;max-width: 95%;" %}  
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" style="">
                        <span >Year</span>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-10 mb-2">
                        {% render_field form.year class="form-control" placeholder="Enter Year" style="display:inline-block;max-width: 95%;" %}  
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" style="">
                        <span >Job Profile</span>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-10 mb-2">
                        {% render_field form.job_Profile class="form-control" placeholder="Enter Job Profile" style="display:inline-block;max-width: 95%;" %}  
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" style="">
                        <span >Role</span>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-10 mb-2">
                        {% render_field form.role_Type class="form-control" placeholder="Enter Job Profile" style="display:inline-block;max-width:135px;" %}  
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 mt-2 mb-2" style="">
                        <span >Rounds</span>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-10 mb-2">
                        {% render_field form.no_of_Rounds class="form-control" placeholder="Enter Job Profile" style="display:inline-block;max-width:135px;" %}  
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2 mb-2">
                        <span >Details</span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                        {% render_field form.interview_Questions class="form-control" placeholder="Enter Details" style="display:inline-block;" %}  
                        {{ form.media }}
                    </div>
                    <button type="submit" class="btn btn-outline-success ml-auto mr-auto mt-2">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
