  {% extends 'base.html' %}
  {% block js %}
      <!-- Import Google Fonts-->
      <!--     <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"> -->
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">

      <!-- Import Google Font Montserrat -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>
      var page = 1;
      var empty_page = false;
      var block_request = false;

      $(window).scroll(function() {
          var margin = $(document).height() - $(window).height();
          if ($(window).scrollTop() > margin && empty_page == false && block_request == false)
              block_request = true;
          page += 1;
          $.get('?page=' + page, function(data) {
              if (data == '') {
                  empty_page = true;
              } else {
                  $('#experiences-list').append(data);
              }
          });
      });
      </script>

      <title>
          RECursion
      </title>
  {% endblock js %}
  {% load widget_tweaks %}
  {% block content %}
   <div class="container" style="margin-top: 2%">
      <a href="{% url 'home' %}" class="text-muted small">< Back to Home</a> 
   <h1>Interview Questions</h1>
    <div class="row">
      <div class="col-lg-9 col-sm-12 mt-2">
            <div class="card ml-0">
              <div class="block row card-header m-0">
                <div class="col-sm-12 col-lg-6">
                 <form method="POST">
                    <div class="row mt-1">
                        {% csrf_token %}
                        {% render_field form_search.key class="form-control" placeholder="Search" style="display:inline-block;max-width: 20vw;" %}  
                        <!-- {{ form_search.as_table }} -->
                      
                      <div>
                        <button type="submit" class="save btn btn-sm btn-outline-primary mt-1 ml-2" style="display: inline-block;"> <i class="fas fa-search"></i></button>
                      </div>
                    </div>
                 </form>
               </div>
               <div class="col-sm-0 col-lg-2">
               </div>
   <!-- <strong>Filter</strong> -->
   <div class="btn-group col-sm-12 col-md-6 col-lg-4" role="group">
             <a class="btn btn-secondary btn-sm mt-2 mb-2" href="{% url 'experience:filter_experience' 'All'  %}" style="color: white;text-decoration: none;">All</a>
             <a class="btn btn-secondary btn-sm mt-2 mb-2"href="{% url 'experience:filter_experience' 'Internship'  %}"  style="color: white;text-decoration: none;">Internship</a>
             <a class="btn btn-secondary btn-sm mt-2 mb-2"href="{% url 'experience:filter_experience' 'Full Time'  %}"  style="color: white;text-decoration: none;">Full Time</a>
   </div>
  </div>

   <div id="experiences-list">
       {% include 'exp_list.html' %}
   </div>

  </div>
</div>
          <div class="col-sm-12 col-lg-3 mt-2">
              <div class="ml-0">
                  <div class=" mr-auto" style="">
                    <div class="card p-2">
                      <h3 style="display:inline-block;justify-content: center;">
                        <span class="number">{{ q_count }}</span>
                      <small>questions</small></h2>
                      <h3  style="display:inline-block;">
                        <span class="number">{{ answers.count }}</span>
                       <small>answers</small></h3>
                    </div><br>
                      <h4>Most Popular Companies</h4>
                      <ul>
                          {% for tag in tags_popular %}
                          <li style="display: inline-block;"><a class="tagName" href="{% url 'forum:filter_question' tag.id  %}">{{ tag.name }}</a></li>
                          {% endfor %}
                      </ul>
                      <br>
                      <a href="{% url 'forum:list_questions' %}" class="mr-3"style="float:right;">
                      </a>
                  </div>
              </div>
          </div>
</div>

</div>
  {% endblock %}