
<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Create Profile</title>
</head>
<body>
<div >
 <h3>Create Profile</h3>
    <div >

        <p>Enter the details below:</p><br>
        <form method="POST">
          <table>
              {{ form }}
          </table>
              <br>
          <button type="submit" class="save btn btn-primary" style="margin-left:150px;">SAVE</button>
        </form>
        <p><a href="{% url 'change_password'  %}">Change Your Password</a></p>
      </div>
    <div id='msg'>

    </div>
</div>
</body>
</html>