{% extends 'cal/base.html' %}

{% block title %}
About Today
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'events:calendar' %}"> << Back </a>
</div>
<table style="width:100%">
<tr>
    <td style="width : 70%"><img class="responsive" width="800" height="200" src="{{ event.image.url }}"  style="padding-left:40px"></td>
    <td style="width : 30%" >
      <ul style="list-style-type: none">
        <li><h2>{{ event.title }}</h2></li>
        <br>
        {% if event.date %}
        <li>Date : {{ event.date }}</li>
        {% endif %}
      </ul>
    </td>
</tr>
</table>
<br>
<p style="padding-left:40px; padding-right:40px;">{{ event.description }}</p>
<br>
<br>

{% endblock %}