{% extends 'base.html' %}
{% block title%}Events{% endblock %}
{% block events_calendar_active %} active {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <h2 style="margin-top: 2%">Events</h2>
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <p class="small" style="font-family: 'Pacifico', cursive;">Be part of us - in our events</p>
  <div class="row">
    <div class="col-lg-9 col-sm-12 mt-2">
      <div class="card ml-0">
        <div class="block row card-header m-0">
          <div class="col-sm-12 col-lg-6">
            <div class="col-sm-0 col-md-2 col-lg-2">
            </div>
            <form method="POST">
              <div class="mt-1 mb-1">
                {% csrf_token %}
                {% render_field form_search.key class="form-control mr-1" placeholder="Search" style="display:inline-block;min-width:150px; max-width:20vw;" %}  
                <button type="submit" class="save btn btn-sm btn-outline-primary" style="display: inline-block;"> <i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>
          <div class="col-sm-0 col-md-2 col-lg-3">
          </div>
          {% if perms == True %}
            <a class="btn" href="{% url 'events_calendar:create_event' %}" style="float:right">
              <button type="button" class="btn btn-outline-primary btn-sm">
                Add Event&nbsp;&nbsp;<i class="far fa-edit"></i>
              </button>
            </a>
          {% endif %}
          <div class="btn-group col-sm-12 col-md-6 col-lg-4" role="group" style="float: right;">
           <a class="btn btn-outline-secondary btn-sm mt-1 " href="{% url 'events_calendar:filter_event' 'All'  %}" style="text-decoration: none;">All</a>
           <a class="btn btn-outline-secondary btn-sm mt-1 " href="{% url 'events_calendar:filter_event' 'Class'  %}" style="text-decoration: none;">Classes</a>
           <a class="btn btn-outline-secondary btn-sm mt-1 "href="{% url 'events_calendar:filter_event' 'Contest'  %}"  style="text-decoration: none;">Contests</a>
           <a class="btn btn-outline-secondary btn-sm mt-1 "href="{% url 'events_calendar:filter_event' 'Event'  %}"  style="text-decoration: none;">Events</a>
         </div>
       </div>
       <div id="events-list">
         {% include 'events_list.html' %}
       </div>
     </div>
   </div>
   <div class="col-sm-12 col-lg-3 mt-2">
    <div class="ml-0">
      <div class=" mr-auto">
        <div class="card">
          {% for key,value in events_count.items %}
            <div class="number card-header  p-0"><h2 style="text-align:center;">
              <p class="ml-auto mr-auto mb-0 mt-2" style="font-family:'Rajdhani',sans-serif;">{{ value }}</p></h2>
            </div>
            <div class="mt-2">
              {% if value > 1%}
              <p style="text-align: center;">Events Organized in {{key}}</p></div>
              {% else %}
              <p style="text-align: center;">Event Organized in {{key}}</p></div>
              {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

  {% block js %}
  <!-- Import Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
  
  <!-- Import Google Font Montserrat -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    var page = 1;
    var empty_page = false;
    var block_request = false;
  
    $(window).scroll(function() {
      var margin = $(document).height() - $(window).height();
      if ($(window).scrollTop() > margin && empty_page == false && block_request == false)
        block_request = true;
      page += 1;
      $.get('?page=' + page, function(data) {
        if (data == '') {
          empty_page = true;
        } else {
          $('#events-list').append(data);
        }
      });
    });
  </script>
  {% endblock js %}