<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Update Answers</title>
</head>
<body>
<div >
        {% csrf_token %}
 <h3 class="text-muted ml-auto mr-auto">Add/Update Answer</h3>
    <div >

        <p>Enter the details below:</p><br>
       <!--  <form method="POST">
          <table>
              
          </table>
              <br>
          <button type="submit" class="save btn btn-primary" style="margin-left:150px;">SAVE</button>
        </form> -->
        <form class='my-update-form' method="POST" data-url='{{ request.build_absolute_uri|safe }}'> {% csrf_token %}
                <table>
                    {{upform.description}}
                    {{upform.media}}
                    <input type="hidden" name="ajax_update" value="True">
                </table>
                    <br>
                <button type="submit" class="save btn btn-primary" style="margin-left:150px;">UPDATE</button>
              </form>

      </div>
     
</div>
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("form.my-update-form").submit(function(task){
            task.preventDefault()
            $("#update_ans").hide()//hiding update form when new form was added


        var $formData = $(this).serialize()
        console.log("form  "+$formData)
            $.ajax({
        method: "POST",
        url:$(this).attr('data-url') ,
        data:$formData ,
        success: function (data)
        {
           console.log("updatweeeeeeeeeee" +data)
           
           Data=JSON.parse(data)
           Update=Data
           result="";
           result+=Data.description+"<a href=/forum/answer/"+Data.id+">"+"  Update"  +"<a>"+" <br/>";
           console.log(result);
            $('#ans').html(result);
            $("#ans").show()
            $("#u_ans_form"+Data.id).hide()//hiding update form when update form was clicked
            update_ans_res=''
            update_ans_res+=Data.description +  "<a class = \"u_ans\" ans-id= \"{{ans.id}}\"  href=/forum/answer/"+Data.id+">Update this Answer</a>"
            $(".u_ans#ans_id_"+Data.id).html( update_ans_res).show()
        },
        error:handleFormError,
     })
            })
            function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
</script>
