{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/detail.css' %}">
      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <script href="{% static 'js/detail.js' %}"></script>
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Question details</title>
</head>
<body>
<div class="container-fluid">
{% csrf_token %}
<h1> Question detail</h1>

    <div >

          <!--Question Post Design Start-->  
                    <div class="container card shadow-sm p-3 mb-5 bg-white rounded" style="width: 100%; min-height: 500px; padding: 10px;">     
                        <div class="row">
                          <div class="col-8">
                          <div class="container jumbotron" style="max-width: 1200px;background-color: #ffffff;text-align: left;margin-bottom: 0px;margin-top: 0px;"><h2>{{ questions.title }}</h2>
                            {% if request.user == questions.user_id %}
                            <a href="{% url 'update_question' questions.id  %}">Update this Question  </a>
                            {% endif %}
                            {% if questions.visibility == True %}
                            <p class="text-muted time">Asked by {{questions.user_id}} on {{questions.created_at}} last updated on {{questions.updated_at}}</p>
                            {% else %}
                            <p class="text-muted time"><i>Asked by Anonymous on {{questions.created_at}} last updated on {{questions.updated_at}}</i></p>
                            {% endif %}
                          </div>
                          </div>
                          <div class="col-4">
                            <div class="container jumbotron" style="background-color: #ffffff;">
                              <center>
                                <a href={% url 'add_question' %} class="btn btn-outline-primary">Ask A Question</a>
                              </center>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="container">
                          <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-12">
                          <center><div class="jumbotron shadow-sm p-3 mb-5 rounded" style="max-width: 1300px;margin: 0px; width: 100%; padding: 10px;"><p style="text-align: justify;">
                              Description: {{questions.description}}</p>
                          </div></center>
                          <div class="container" style="margin-bottom: 30px; margin-top: 0px;">
                            <button class="btn btn-outline-primary"><a><i class="fas fa-user-plus"></i>Follows: {{ questions.follows_set.count }}</a></button>
                            <li>Description:{{questions.description|safe}}</li>
                            <li>Follows: {{ questions.follows_set.count }}
                {% if request.user != questions.user_id %}
                   {% if flag == 0 %}
                   
                   <button class="btn btn-outline-primary"><a href="{% url 'edit_following' questions.id %}">Follow</a></button>
                   {% else %}
                   <button class="btn btn-outline-primary"><a href="{% url 'edit_following' questions.id %}">Unfollow</a></button>
                {% endif %}
                {% endif %}

                <button class="btn btn-outline-primary" onclick="answerbtnFunction()"><i class="fas fa-comment-alt"></i><a>Add Answer</a></button>
                <button class="btn btn-outline-primary"  onclick="commentbtnFunction()"><i class="fas fa-comment"></i><a>Add Comment</a></button>

                {% if request.user %}
                  {% if not ans.id %}
                      <button class="btn btn-outline-primary"><a href="{% url 'add_answer' questions.id  %}">Answer This Question</a></button>
                   {% else %}
                      <button class="btn btn-outline-primary"><a href="{% url 'update_answer' ans.id  %}">Update Your Answer</a></button>
                   {% endif %}
                   {% endif %}
                    </div>

                    <div name="comment-and-answer">
                      <!--Answer Input Box Start-->
                                 <div class="container" id="answerDIV" style="display: none;">
                                      <div class="row">
                                          <div class="col-sm-12">
                                              <div class="panel panel-white post shadow-sm" style="margin-bottom: 20px; background-color: white;border-top: 1.5px; border-radius: 6px;border-style: solid; border-top-color: #F95C39;">
                                                  <div class="post-heading">
                                                      <div class="pull-left image">
                                                          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar shadow" style="border: 1.5px; border-radius: 50px; border-style: solid; border-color: #F95C39" alt="user profile image">
                                                      </div>
                                                      <div class="pull-left meta">
                                                          <div class="title h5">
                                                              <a href="#"><b>{{user}}</b></a>
                                                              is answering
                                                          </div>
                                                      </div>
                                                  </div> 
                                                  <div class="post-description"> 
                                                     <h5 class="text-muted" style="text-align:center;">Enter your answer details below:</h5><br>
                                                        <form method="POST" action="{% url 'add_comment' questions.id %}" style="padding: 25px; margin: 0px;">
                                                        <!-- <table>
                                                          {{ form2 }}
                                                        </table>
                                                          <br> -->
                                                         {{ form2.description.label_tag }}
                                                          {% render_field form2.description class="form-control" placeholder="Enter Answer Details" %}

                                                          
                                                        <center><button type="submit" class="btn btn-dark"<i class="fa fa-share"></i>SAVE</button></center>
                                                       </form>
                                                   </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>  
               <!--Answer Input Box End-->

               <!--Comment Input Box Start-->
                                    <div class="container" id="commentDIV" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel panel-white post shadow-sm" style="margin-bottom: 20px; background-color: white;border-top: 1.5px; border-radius: 6px;border-style: solid; border-top-color: #F95C39;">
                                                    <div class="post-heading">
                                                        <div class="pull-left image">
                                                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar shadow" style="border: 1.5px; border-radius: 50px; border-style: solid; border-color: #F95C39" alt="user profile image">
                                                        </div>
                                                        <div class="pull-left meta">
                                                            <div class="title h5">
                                                                <a href="#"><b>{{user}}</b></a>
                                                                is commenting
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="post-description"> 
                                                       <h5 class="text-muted" style="text-align:center;">Enter your comment details below:</h5><br>
                                                          <form method="POST" action="{% url 'add_comment' questions.id %}" style="padding: 25px; margin: 0px;">
                                                         {{ form.body.label_tag }}
                                                          {% render_field form.body class="form-control" placeholder="Enter Comment Details" %}
                                                            <br>
                                                          <center><button type="submit" class="btn btn-dark"<i class="fa fa-share"></i>SAVE</button></center>
                                                         </form>
                                                     </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                 <!--Comment Input Box End-->  
            
                   {% for answer in answers %}
                   {% if answer.question_id == questions %}
                <!--Answer View Box Start-->
                                <div class="container">
                                      <div class="row">
                                          <div class="col-sm-12">
                                              <div class="panel panel-white post shadow-sm" style="margin-bottom: 20px; background-color: white;border-top: 1.5px; border-radius: 6px;border-style: solid; border-top-color: #F95C39;">
                                                  <div class="post-heading">
                                                      <div class="pull-left image">
                                                          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar shadow" style="border: 1.5px; border-radius: 50px; border-style: solid; border-color: #F95C39" alt="user profile image">
                                                      </div>
                                                      <div class="pull-left meta">
                                                          <div class="title h5">
                                                              <a href="#"><b>{{answer.user_id}}</b></a>
                                                              answered
                                                          </div>
                                                          <h6 class="text-muted time"><i>On {{answer.created_at}}</i></h6>
                                                      </div>
                                                  </div> 
                                                  <div class="post-description"> 
                                                      <p>{{answer.description}}</p>
                                                   <div class="stats">
                                                    Upvotes: {{ answer.upvotes_set.count }}
                                                    {% if request.user != answer.user_id %}
                                                    {% if  answer.id in voted %}
                                                     <a href="{% url 'voting' answer.id %}">Downvote&nbsp&nbsp<i class="fas fa-thumbs-down"></i></a>
                                                     {% else %}
                                                     <a href="{% url 'voting' answer.id %}">Upvote&nbsp&nbsp&nbsp<i class="fas fa-thumbs-up"></i></a>
                                                    {% endif %}
                                                    {% endif %} 
                                                        {% if request.user == answer.user_id %}
                                                          <a href="{% url 'update_answer' answer.id  %}">Update this Answer</a>
                                                         {% endif %}
                                                   </div>
                                                   <div style="text-align: right;">
                                                          <p class="text-muted time"><i>Last Updated On: {{answer.updated_at}}</i></p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>  
               <!--Answer View Box End-->
                  {%endif%}
                  {% endfor %}

                  <p class="text-muted time" style="text-align: center;"><i>User Comments</i></p>
              
                  {% for comment in comments %}
                  {% if comment.question == questions %}
                 <!--Comment View Box Start-->
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-sm-12">
                                              <div class="panel panel-white post shadow-sm" style="margin-bottom: 20px; background-color: white;border-top: 1.5px; border-radius: 6px;border-style: solid; border-top-color: #F95C39;">
                                                  <div class="post-heading">
                                                      <div class="pull-left image">
                                                          <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar shadow" style="border: 1.5px; border-radius: 50px; border-style: solid; border-color: #F95C39" alt="user profile image">
                                                      </div>
                                                      <div class="pull-left meta">
                                                          <div class="title h5">
                                                              <a href="#"><b>{{comment.user}}</b></a>
                                                              commented
                                                          </div>
                                                          <h6 class="text-muted time"><i>On {{comment.created_at}}</i></h6>
                                                      </div>
                                                  </div> 
                                                  <div class="post-description"> 
                                                      <p>{{comment.body}}</p>
                                                   <div class="stats">
                                                        {% if request.user == comment.user %}
                                                        <a href="{% url 'update_comment' comment.id %}">Update this Comment</a>
                                                        {% endif %}
                                                   </div>
                                                   <div style="text-align: right;">
                                                          <p class="text-muted time"><i>Last Updated On: {{comment.updated_at}}</i></p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>  
               <!--Comment View Box End-->
               
                  {%endif%}
                  {% endfor %}
                 </div>

                  </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <div class="jumbotron shadow-sm p-3 mb-5 rounded"><p> This is comment section</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>                
      </div>
      </div>
</div>




                </li>
                <p>Enter the comment details below:</p><br>
                <form class='my-com-form' method="POST"  data-url="{% url 'add_comment' questions.id  %}"> {% csrf_token %}
                  <table>
                      {{ comform }}
                    <input type="hidden" name="ajax_call" value="True">
                  </table>
                      <br>
                  <button type="submit" class="save btn btn-primary" style="margin-left:150px;">ADD COMMENT</button>
                </form>
                                         <div id='com'></div>
                                          <div id='update_com' > 
                                          </div>
                       <ul>
                       {% for comment in comments %}
                     {% if comment.question == questions %}

                                <li>{{comment.body|safe}}
                                    {% if request.user == comment.user %}
                                    <a href="{% url 'update_comment' comment.id %}">Update this Comment</a>
                                    {% endif %}
                                    <ul>
                                    <li>Added By:<a href="{% url 'view_profile' comment.user.id  %}">{{ comment.user }}</a></li>
                                    <li>Posted On: {{comment.created_at}}</li>
                                    <li>Last Updated On: {{comment.updated_at}}</li>
                                    </ul>
                                </li>
                     {%endif%}
                   {% endfor %}
                   </ul>
                            </li>
                            <li>Tags:
                          <ul>
                         {% for tagging in taggings %}
                     {% if tagging.question == questions %}

                                <li>{{ tagging.tag }}</li>
                     {%endif%}
                   {% endfor %}
                          </ul>
                       </li>
                           
                            <li>
                              Answers: 
                                          {% if not ans.id %}
                                          <form class='my-ans-form' method="POST"  data-url="{% url 'add_answer' questions.id %}"> {% csrf_token %}
                                            <table>
                                                {{ ansform }}
                                                <input type="hidden" name="ajax_call" value="True">
                                            </table>
                                                <br>
                                            <button type="submit" class="save btn btn-primary" style="margin-left:150px;">ANSWER</button>
                                          </form>
                                          <div id='ans'>here ans</div>
                                          <div id='update_ans' >
                                          </div>
                                          {% else %}
                                          <a href="{% url 'update_answer' ans.id  %}">Update your Answer</a>
                                           {% endif %}
                                <ul>
                                {% for answer in answers %}
                              {% if answer.question_id == questions %}

                                         <li>{{answer.description|safe}}
                                             <ul>
                                             <li>Comments: <a href="{% url 'add_comment_answer' answer.id %}">Add a Comment</a>
                                                 <ul>
                                                     {% for comment_a in comments_answers %}
                                                       {% if comment_a.answer == answer %}
                                                         <li>{{ comment_a.body|safe }}</li>
                                                         {% if comment_a.user == request.user %}
                                                           <a href="{% url 'update_comment_answer' comment_a.id %}">Update this Comment</a>
                                                         {% endif %}
                                                         <ul>
                                                         <li>Added By: <a href="{% url 'view_profile' comment_a.user.id  %}">{{ comment_a.user }}</a></li>
                                                         <li>Posted On: {{answer.created_at}}</li>
                                                         <li>Last Updated On: {{answer.updated_at}}</li>
                                                         </ul>
                                                       {% endif %}
                                                     {% endfor %}
                                                 </ul>
                                             <li>Added By: <a href="{% url 'view_profile' answer.user_id.id  %}">{{ answer.user_id }}</a></li>
                                             <li>Posted On: {{answer.created_at}}</li>
                                             <li>Last Updated On: {{answer.updated_at}}</li>
                                             <li>Upvotes: {{ answer.upvotes_set.count }}</li>
                                             {% if request.user != answer.user_id %}

                   {% if  answer.id in voted %}
                   <a href="{% url 'voting' answer.id %}">Downvote</a>
                   {% else %}
                   <a href="{% url 'voting' answer.id %}">Upvote</a>
                  {% endif %}

                  {% endif %}

                                         </ul></li>
                              {%endif%}
                            {% endfor %}
                            </ul>
                            </li>

                            <li>Posted On: {{questions.created_at}}
                            <li>Last Updated On: {{questions.updated_at}}</li>
                        </ul>
                     </li>
                </ul>

      </div>
</div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      var $comForm = $('.my-com-form')
      $comForm.submit(function(event){
      event.preventDefault()
      var $formData = $(this).serialize()

      var $thisURL = $comForm.attr('data-url')
    console.log($thisURL);
    $.ajax({
        method: "POST",
        url: $thisURL,
        data: $formData,
        success: handleComFormSuccess,
        error: handleFormError,
    })
    console.log($formData)

    Update_com={}
    function handleComFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            var Data = JSON.parse(data)
            console.log(Data)
            Update_com=Data
            $('form.my-com-form').hide()
            if (Data.Success == "Success")
            {
              var result="";
            result+="Title: "+Data.body+"<a href=/forum/editcomment/"+Data.id+ ">"+"Update"+"<a>"+"  Comment is added <br/>";
            console.log(result);
            $('#com').html(result);
            $('#com').show()
            $comForm[0].reset();
            console.log("sucecssfully inserted")
            }
            else
            {
              console.log("unsuccessfull")
            }
        }



        var $update = $('#com')
            $("#com").click(function(e){
            e.preventDefault()
           
            $form_data =
            {},
            console.log($form_data)

        $.ajax({
        method: "GET",
        url: "/forum/editcomment/"+Update_com.id,
        data:$form_data ,
        success: function (data)
        {
          $("#com").hide()
           console.log(data)
           $("#update_com").html(data)
           $("#update_com").show()
        },
        error:handleFormError,
     })
       
        })    //end of update click
        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
})



      var $ansForm = $('.my-ans-form')
      $ansForm.submit(function(event){
      event.preventDefault()
      var $formData = $(this).serialize()

      var $thisURL = $ansForm.attr('data-url')
    console.log($thisURL);
    $.ajax({
        method: "POST",
        url: $thisURL,
        data: $formData,
        success: handleansFormSuccess,
        error: handleFormError,
    })
    console.log($formData)

    Update_ans={}
    function handleansFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            var Data = JSON.parse(data)
            console.log(Data)
            Update_ans=Data
            $('.my-ans-form').hide()
            if (Data.Success == "Success")
            {
              var result="";
            result+="Title:"+Data.description+"<a href=/forum/answer/"+Data.id+">"+"Update"+"<a>"+" Answer is added <br/>";
            console.log(result);
            $('#ans').html(result);
            $('#ans').show()
            $ansForm[0].reset();
            console.log("sucecssfully inserted")
            }
            else
            {
              console.log("unsuccessfull")
            }
        }



        var $update = $('#ans')
            $("#ans").click(function(e){
            e.preventDefault()
            $("#ans").hide()
            $form_data =
            {},
            console.log($form_data)

        $.ajax({
        method: "GET",
        url: "/forum/answer/"+Update_ans.id,
        data:$form_data ,
        success: function (data)
        {
           console.log(data)
           $("#update_ans").html(data)
        },
        error:handleFormError,
     })
        $("#update_ans").show()
        })    //end of update click
        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
})
      })
 </script>
{% endblock %}