<h3>Answer(s)</h3>
<hr> {% for answer in answers %} {% if answer.question_id == question %}
<div class="container answerBorder">
    <div class="row">
        <div class="comments col-lg-12 col-md-9" id="comments">
            <!-- Show Answer -->
            <div class="comment row">
                {% for p in profile %} {% if p.user == answer.user_id %} {% if p.image %}
                <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                    <a href=""><img class="mx-auto rounded-circle img-fluid" src="{{ p.image.url }}" style="max-width: 60px;" alt="avatar"></a>
                </div>
                {% endif %} {% endif %} {% endfor %}
                <div class="comment-content col-md-11 col-sm-10 mb-2 p-2" style="background: #fafafa;">
                    <div class="comment-body">
                        {{answer.description|safe}}
                        <br>
                        <span class="small comment-meta"><a href="{% url 'user_profile:view_profile' answer.user_id.id  %}">{{ answer.user_id }}</a> last updated on {{answer.updated_at}}</span>
                        <span style="float:right;margin-bottom: 0px;">
                <a href="{% url 'forum:add_comment_answer' answer.id %}" class="voteReply text-right small p-1" > Reply <i class="fas fa-reply"></i></a>&nbsp;&nbsp;
                <span >
                  {% if request.user != answer.user_id %}
                  {% if  answer.id in voted %}
                  <a  class="voting_box" ans-id="{{answer.id}}" id="downvote_link" href="{% url 'forum:voting' answer.id %}" class="voteReply text-right small p-1">Downvote <i class="far fa-thumbs-down"></i></a>&nbsp;&nbsp;
                  {% else %}
                  <a  class="voting_box" ans-id="{{answer.id}}" id="upvote_link" href="{% url 'forum:voting' answer.id %}" class="voteReply text-right small p-1">Upvote <i class="far fa-thumbs-up"></i></a>&nbsp;&nbsp;
                  {% endif %}
                  {% endif %}
                  <a  id="vote_count_{{answer.id}}" class="text-right small"> {{ answer.upvotes_set.count }} <i class="fas fa-arrow-up"></i></a>
                </span>
                {% if request.user == answer.user_id %}
                <div  ><div id='ans_id_{{answer.id}}' class = "u_ans" ans-id= "{{answer.id}}"> <a href="{% url 'forum:update_answer' answer.id %}" class="" style="float:right;"><i class="far fa-edit"></i> Update this answer</a></div>
                <div id='u_ans_form{{answer.id}}' com-id= "{{answer.id}}"> </div>
                {% endif %}
                </span>
                    </div>
                </div>
                {% for comment_a in comments_answers %} {% if comment_a.answer == answer %}
                <!-- reply is indented -->
                <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2 pt-2" style="font-size:90%;">
                    <hr class="mt-0 mb-1 ml-0" width="100%">
                    <div class="row commentBorder">
                        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                            <a href="#"><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="avatar" style="height:40px; width:40px;"></a>
                        </div>
                        <div class="comment-content col-md-11 col-sm-10 col-12">
                            <div class="comment-body">
                                <p>{{ comment_a.body|safe }}
                                    <br>
                                    <span class="small comment-meta"></span><a href="{% url 'user_profile:view_profile' comment_a.user.id  %}">{{ comment_a.user }}</a>
                                    {% if request.user == comment_a.user %}
                                    
                                     {% endif %}
                                     
                        
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endif %}
                 {% endfor %}
   <!-- /reply is indented --><br>
</div>
<!-- /Show Answer -->
</div>
</div>
</div>

                        {%endif%}
                        {% endfor %}

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("form.my-update-form").submit(function(task){
            task.preventDefault()
            


        var $formData = $(this).serialize()
        console.log("form  "+$formData)
            $.ajax({
        method: "POST",
        url:$(this).attr('data-url') ,
        data:$formData ,
        success: function (data)
        {
            console.log(data)
            $('form.my-update-form').hide()
            $('#div_answers').html(data)
            $(".u_ans").toggle()
        },
        error:handleFormError,
     })
            })

            $('.u_ans').click(function(e){
            e.preventDefault()
            var id= $(this).attr('ans-id')
           console.log(id)
           $(this).toggle()//hiding update link
            $('#ans_body_'+id).hide()
            
        $.ajax({
        method: "GET",
        url: "/forum/answer/"+id,
        success: function (data)
        {
           var id_name = "#u_ans_form"+id
           console.log(id_name)
           $(id_name).html(data).show()
        },
        error:handleFormError,
     })
  
    })   
            function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
</script>
