{% extends 'base.html' %} 
{% block title %}Dashboard{% endblock %} 
{% block css %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/question_css.css'%}"> 
{% endblock %} {% csrf_token %}
<!--<h1 >Dashboard</h1>-->

<!-- navigation bar -->
{% block nav %} {% endblock%}
{% block AskREC_active %}active{% endblock %} 
{% block content %}
<div class="container">
  <a href="{% url 'home' %}" class="text-muted">< Back to Home</a>
  <h2 class="mt-3"id="haveAQ">Falsy Quiestionairo?</h2>
  <center>
      <!--<button class="btn btn-success" style="border-radius: 15px;padding:5px 5px 5px 5px;"><i class="fa fa-search"></i></button>-->
      <!--<form class="form-inline my-2 my-lg-0" style="float: right;position: relative;right:5%;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
  </center>
  <!-- <div class="container-fluid"> -->
      <div class="row">
          <div class="col-lg-9 col-sm-12 mt-2">
            <div class="card ml-0">
              <div class="block">
                <input class="form-control m-2" type="text" placeholder="Search Tag" style="float:left; max-width: 30%;">
                <a href="#" class="ml-2 p-2" style="position:relative;background:#E0EAF5;color:white;top:15px;
                ">
                  <i class="fas fa-search"></i>
                </a>
                <div class="ml-auto mr-4">
                <a  class="ml-auto"href="{% url 'forum:add_question' %}" style="float: right;">
                    Post Question&nbsp;&nbsp;<i class="far fa-edit"></i>&nbsp;
                </a>
                </div>
              </div><hr>
              <ul>
                  <div class="mr-0 mt-2">
                      <div id="questions-list">
                          {% include 'list.html' %}
                      </div>
                  </div>
                  <!-- <div class="col-sm-2 col-lg-2" style="height:50px; width: 50px; background-color: red;"> -->
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 mt-2">
              <div class="ml-0">
                  <div class=" mr-auto" style="">
                    <div class="card p-2">
                      <h2 class="number" style="display:inline-block;justify-content: center;">{{ questions.count }}</h2> questions
                      <br>
                      <h3 class="number" style="display:inline-block;">{{ answers.count }}</h3>
                      <span style="display:inline-block;">answers</span> 
                    </div>
                      <br>
                      <h6>Most Recent Tags {{ limit }}</h6>
                      <ul>
                          {% for tag in tags_recent %}
                          <li style="display:inline-block;"><a class="tagName" href="{% url 'forum:filter_question' tag.id  %}">{{ tag.name }}</a></li>
                          {% endfor %}
                          <br>
                          <br>
                          <hr>
                          <br>
                      </ul>
                      <h6>Most Popular Tags</h6>
                      <ul>
                          {% for tag in tags_popular %}
                          <li style="display: inline-block;"><a class="tagName" styele="font-size:100%;" href="{% url 'forum:filter_question' tag.id  %}">{{ tag.name }}</a></li>
                          {% endfor %}
                      </ul>
                      <br>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- </div> -->
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var page = 1;
    var empty_page = false;
    var block_request = false;
    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height();
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false)
            block_request = true;
        page += 1;
        $.get('?page=' + page, function(data) {
            if (data == '') {
                empty_page = true;
            } else {
                console.log(data);
                $('#questions-list').append(data);
            }
        });
    });
</script>
{% endblock %}