{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Add Questions</title>
</head>
<body>
<div class="container">
<div class="card" style="margin: 25px; border-radius: 10px;">
 <h3 style="text-align:center;">Add/Update Comment</h3>
    <div>
        <h5 style="text-align:center;">Enter the details below:</h5><br>
        <form method="POST" style="padding: 25px;">
          <table>
              {{ form }}
          </table>
              <br>
          <center><button type="submit" class="save btn btn-primary">SAVE</button></center>
        </form>
    </div>
</div>
</div>
</body>
</html>
{% endblock %}