<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Add Questions</title>
</head>
<body>
<div >
 <h3>Add/Update Comment</h3>
    <div >

        <p>Enter the details below:</p><br>
        <form class='my-update1-form' method="POST" data-url='{{ request.build_absolute_uri|safe }}'> {% csrf_token %}
                <table>
                    {{ upform }}
                    <input type="hidden" name="ajax_update" value="True">
                </table>
                    <br>
                <button type="submit" class="save btn btn-primary" style="margin-left:150px;">UPDATE</button>
              </form>
      </div>
</div>
<div id='msg1'>
        doosra
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("form.my-update1-form").submit(function(task){
            task.preventDefault()
            console.log("update1")
            $("#update_com").hide()


        var $formData = $("form.my-update1-form").serialize()
        console.log("form  "+$formData)
            $.ajax({
        method: "POST",
        url:$("form.my-update1-form").attr('data-url') ,
        data:$formData ,
        success: function (data)
        {
           console.log("update")
           console.log("updatweeeeeeeeeee" +data)
           $("#com").show()
           Data=JSON.parse(data)
           Update=Data
           result="";
           result+="COMMENT  =:"+Data.body+"<a href=/editcomment/"+Data.id+">"+"Update"+"<a>"+" Event is added <br/>";
           console.log(result);
            $('#com').html(result);
        },
        error:handleFormError,
     }) 
            })
            function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
</script>
