<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Question details</title>
</head>
<body>
<div class="container">
{% csrf_token %}
 <h1> Question detail</h1>



    <!-- navigation bar -->
    <nav>
        <!-- Links -->
      <ul>


        <li >
           <a  href="{% url 'list_questions' %}">Forum</a>
        </li>
          <!-- Dropdown -->
        <li>
          <a  href="#" id="navbardrop" >
            Manage Account
          </a>
          <div >
              {% if user.is_authenticated %}
                               <a href="{% url 'view_profile' request.user.id  %}">View My Profile</a>
              {% else %}
                               <a href="{% url 'login' %}">Login</a>
              {% endif %}
              <a  href="#">Edit Account </a>
          </div>
        </li>

        <li >
          <a  href="#" id="navbardrop" >
          Questions
          </a>
          <div >
            <a  href="#">View my questions</a>
            <a  href="{% url 'add_question' %}">Add New doubts</a>
          </div>
        </li>

        <li>
            <a  href="#">Log out</a>
        </li>
      </ul>
    </nav>




    <div >

            <ul>
                    <li>{{ questions.title }}
                        {% if request.user == questions.user_id %}
                               <a href="{% url 'update_question' questions.id  %}">Update this Question</a>
                            {% endif %}
                        <ul>
                            {% if questions.visibility == True %}
                            <li>Added By: <a href="{% url 'view_profile' questions.user_id.id  %}">{{ questions.user_id }}</a></li>
                            {% else %}
                            <li>Added By: Anonymous</li>
                            {% endif %}
                            <li>Description:{{questions.description|safe}}</li>
                            <li>Follows: {{ questions.follows_set.count }}
                {% if request.user != questions.user_id %}
                   {% if flag == 0 %}
                   <a href="{% url 'edit_following' questions.id %}">Follow</a>
                   {% else %}
                   <a href="{% url 'edit_following' questions.id %}">Unfollow</a>
                {% endif %}
                {% endif %}
                </li>
                            <li>Comments: <a href="{% url 'add_comment' questions.id %}">Add a Comment</a>
                       <ul>
                       {% for comment in comments %}
                     {% if comment.question == questions %}

                                <li>{{comment.body|safe}}
                                    {% if request.user == comment.user %}
                                    <a href="{% url 'update_comment' comment.id %}">Update this Comment</a>
                                    {% endif %}
                                    <ul>
                                    <li>Added By:<a href="{% url 'view_profile' comment.user.id  %}">{{ comment.user }}</a></li>
                                    <li>Posted On: {{comment.created_at}}</li>
                                    <li>Last Updated On: {{comment.updated_at}}</li>
                                    </ul>
                                </li>
                     {%endif%}
                   {% endfor %}
                   </ul>
                            </li>
                            <li>Tags:
                          <ul>
                         {% for tagging in taggings %}
                     {% if tagging.question == questions %}

                                <li>{{ tagging.tag }}</li>
                     {%endif%}
                   {% endfor %}
                          </ul>
                       </li>
                            <li>Answers:
                                          {% if not ans.id %}

                                          <a href="{% url 'add_answer' questions.id  %}">Answer this Question</a>
                                          {% else %}
                                          <a href="{% url 'update_answer' ans.id  %}">Update your Answer</a>
                                           {% endif %}
                                <ul>
                                {% for answer in answers %}
                              {% if answer.question_id == questions %}

                                         <li>{{answer.description|safe}}
                                             <ul>
                                             <li>Comments: <a href="{% url 'add_comment_answer' answer.id %}">Add a Comment</a>
                                                 <ul>
                                                     {% for comment_a in comments_answers %}
                                                       {% if comment_a.answer == answer %}
                                                         <li>{{ comment_a.body|safe }}</li>
                                                         {% if comment_a.user == request.user %}
                                                           <a href="{% url 'update_comment_answer' comment_a.id %}">Update this Comment</a>
                                                         {% endif %}
                                                         <ul>
                                                         <li>Added By: <a href="{% url 'view_profile' comment_a.user.id  %}">{{ comment_a.user }}</a></li>
                                                         <li>Posted On: {{answer.created_at}}</li>
                                                         <li>Last Updated On: {{answer.updated_at}}</li>
                                                         </ul>
                                                       {% endif %}
                                                     {% endfor %}
                                                 </ul>
                                             <li>Added By: <a href="{% url 'view_profile' answer.user_id.id  %}">{{ answer.user_id }}</a></li>
                                             <li>Posted On: {{answer.created_at}}</li>
                                             <li>Last Updated On: {{answer.updated_at}}</li>
                                             <li>Upvotes: {{ answer.upvotes_set.count }}</li>
                                             {% if request.user != answer.user_id %}

                   {% if  answer.id in voted %}
                   <a href="{% url 'voting' answer.id %}">Downvote</a>
                   {% else %}
                   <a href="{% url 'voting' answer.id %}">Upvote</a>
                  {% endif %}

                  {% endif %}

                                         </ul></li>
                              {%endif%}
                            {% endfor %}
                            </ul>
                            </li>

                            <li>Posted On: {{questions.created_at}}
                            <li>Last Updated On: {{questions.updated_at}}</li>
                        </ul>
                     </li>
                </ul>

      </div>
</div>
</body>
</html>
