{% extends 'base.html' %} {% block content %} {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<link rel="stylesheet" href="{% static 'css/tag.css' %}">
<link rel="stylesheet" href="{% static 'css/gh-buttons.css' %}">

<div class="container-fluid card" style="">
    {% csrf_token %}
    <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0" id="qTitle">{{ questions.title }}</h4> 
                    {% if request.user != questions.user_id %}
                    {% if flag == 0 %}
                    <a href="{% url 'edit_following' questions.id %}">
                        <button style="float: right;" type="button" class="button_gh big">Follow | <i class="far fa-heart"></i> {{ questions.follows_set.count }}</button>
                    </a>
                    {% else %}
                    <a href="{% url 'edit_following' questions.id %}">
                        <button style="float: right;" type="button" class="button_gh big">Unfollow | <i class="far fa-heart"></i> {{ questions.follows_set.count }}</button>
                    </a>
                    {% endif %} {% endif %}
                </div>
                <div class="card-body">
                    <blockquote class="mb-0">

                        <p>{{questions.description}}</p>
                        <!--Tags Start-->
                        <div class="mt-5">
                            {% for tagging in taggings %} {% if tagging.question == questions %}
                            <a href="#" class="tag" style="font-size:82%;">{{ tagging.tag }}</a> {%endif%} {% endfor %}
                        </div>
                        <!--Tags End-->
                        <p class="small card-text"><i>{% if questions.visibility == True %}
              Asked by: <a href="{% url 'view_profile' questions.user_id.id  %}">{{ questions.user_id }}</a>
              {% else %}
              Asked by: Anonymous
              {% endif %} on {{questions.created_at}} <a style="float: right;">Last updated on {{questions.updated_at}}</a></i></p>
                    </blockquote>
                </div>
                <!-- QUESTION COMMENT SECTION -->
                {% for comment in comments %} {% if comment.question == questions %}
                <div class="container offset-1 mr-0" style="width: 90%;">
                    <hr id="qDivide">
                    <div class="row">
                        <div class="comments col-lg-12 col-md-9" id="comments">
                            <!-- Show Comment -->
                            <div class="comment row">
                                {% for p in profile %} {% if p.user == comment.user %} {% if p.image %}
                                <div class="comment-avatar col-md-1 col-sm-1">
                                    <a href="">
                                        <img class="small mx-auto rounded-circle img-fluid" <img src="{{ p.image.url }}" style="height: 40px; width:40px;" alt="avatar"></a>
                                </div>

                                {% endif %} {% endif %} {% endfor %}

                                <div class="comment-content col-md-11 col-sm-10">
                                    <div class="comment-body">
                                        <p class="m-0" style="font-size: 90%;">{{comment.body|safe}} {% if request.user == comment.user %} {% endif %}
                                            <h6 class="text-muted small comment-meta" style="display: inline-block;"><a href="{% url 'view_profile' comment.user.id  %}">{{ comment.user }}</a> last updated on {{comment.updated_at}}</h6>
                                            <a href="{% url 'update_comment' comment.id %}" class="text-right small" style="float: right;"><i class="far fa-edit"></i> Update this Comment</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /Show Comment -->
                        </div>
                    </div>
                </div>
                {%endif%} {% endfor %}

            </div>
            <!--Follow,Comment,Answer Start-->

            <div class="container" style="margin: 10px">
                {% if not ans.id %}
                <a href="{% url 'add_answer' questions.id  %}">
                    <button type="button" class="button_gh big">Add Answer <i class="far fa-comment-dots"></i></button>
                </a>
                {% else %}
                <a href="{% url 'update_answer' ans.id  %}">
                    <button type="button" class="button_gh big">Update Your Answer <i class="far fa-comment-dots"></i></button>
                </a>
                {% endif %}
                <a href="{% url 'add_comment' questions.id %}" class="button_gh big ">Add Comment <i class="far fa-comments"></i></a>

            </div>
            <!--Follow,Comment,Answer End-->

            <br>
            <h3>Answer(s)</h3>
            <hr> {% for answer in answers %} {% if answer.question_id == questions %}
            <div class="container answerBorder">
                <div class="row">
                    <div class="comments col-lg-12 col-md-9" id="comments">
                        <!-- Show Answer -->
                        <div class="comment row">
                            {% for p in profile %} {% if p.user == answer.user_id %} {% if p.image %}
                            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                <a href=""><img class="mx-auto rounded-circle img-fluid" src="{{ p.image.url }}" style="max-width: 60px;" alt="avatar"></a>
                            </div>
                            {% endif %} {% endif %} {% endfor %}
                            <div class="comment-content col-md-11 col-sm-10 mb-2 p-2" style="background: #fafafa;">
                                <div class="comment-body">
                                    {{answer.description|safe}}
                                    <br>
                                    <span class="small comment-meta"><a href="{% url 'view_profile' answer.user_id.id  %}">{{ answer.user_id }}</a> last updated on {{answer.updated_at}}</span>
                                    <span style="float:right;margin-bottom: 0px;">
                            <a href="{% url 'add_comment_answer' answer.id %}" class="voteReply text-right small p-1" > Reply <i class="fas fa-reply"></i></a>&nbsp;&nbsp;
                              {% if request.user != answer.user_id %}
                              {% if  answer.id in voted %}
                              <a href="{% url 'voting' answer.id %}" class="voteReply text-right small p-1">Downvote <i class="far fa-thumbs-down"></i></a>&nbsp;&nbsp;
                              {% else %}
                              <a href="{% url 'voting' answer.id %}" class="voteReply text-right small p-1">Upvote <i class="far fa-thumbs-up"></i></a>&nbsp;&nbsp;
                              {% endif %}
                              {% endif %}
                              <a class="text-right small"> {{ answer.upvotes_set.count }} <i class="fas fa-arrow-up"></i></a>
                            </span>
                                </div>
                            </div>
                            {% for comment_a in comments_answers %} {% if comment_a.answer == answer %}
                            <!-- reply is indented -->
                            <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2 pt-2" style="font-size:90%;">
                                <hr class="mt-0 mb-1 ml-0" width="100%">
                                <div class="row commentBorder">
                                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                                        <a href="#"><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="avatar" style="height:40px; width:40px;"></a>
                                    </div>
                                    <div class="comment-content col-md-11 col-sm-10 col-12">
                                        <div class="comment-body">
                                            <p>{{ comment_a.body|safe }}
                                                <br>
                                                <span class="small comment-meta"></span><a href="{% url 'view_profile' comment_a.user.id  %}">{{ comment_a.user }}</a>
                                    {% if comment_a.user == request.user %}
                                    {% endif %}
                                    <a href="{% url 'update_comment_answer' comment_a.id %}" class="" style="float:right;"><i class="far fa-edit"></i> Update this Comment</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             {% endif %}
                             {% endfor %}
               <!-- /reply is indented --><br>
            </div>
            <!-- /Show Answer -->
        </div>
    </div>
</div>

                                    {%endif%}
                                    {% endfor %}

</div>

  <div class="col-lg-3 col-md-3 col-sm-12 mb-2 mt-2">
    <div class="card">
      <div class="card-header">
      {% if request.user == questions.user_id %}
        <a href="{% url 'update_question' questions.id  %}"><button type="button" class="btn btn-success">Update this Question</button></a>
      {% else %}
        <a href="{% url 'add_question'  %}"><button type="button" class="btn btn-success">Ask New Question</button></a>
      {% endif %}
      </div>
      <div class="card-body">

              <p>Instruction</p>

      </div>
    </div>
   </div>

</div>
</div>

{% endblock %}