<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalab=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     <h2>Total Questions Asked: {{ questions.count }}</h2>
     <h2>Total Answers: {{ answers.count }}</h2>
     <h3>Most Recent Tags {{ limit }}</h3>
     <ul>
         {% for tag in tags_recent %}
            <li><a href="{% url 'filter_question' tag.id  %}">{{ tag.name }}</a></li>
         {% endfor %}
     </ul>
     <h3>Most Popular Tags</h3>
     <ul>
         {% for tag in tags_popular %}
             <li><a href="{% url 'filter_question' tag.id  %}">{{ tag.name }}</a></li>
         {% endfor %}
     </ul>
     <ul>
         {% for question in questions %}
         <li><a href="{% url 'detail_questions' question.id %}">{{ question.title }}</a>
             <ul>
                 {% if question.visibility == True %}
                     <li>Added By: {{question.user_id}}
                 </li>
                 {% else %}
                 <li>Added By: Anonymous</li>
                 {% endif %}
                 <li>Tags: <ul>
                     {% for tagging in taggings %}
                   {% if tagging.question == question %}
                      {% for tag in tags %}
                           {% if tagging.tag == tag %}
                              <li>{{tag.name}}</li>
                            {% endif %}
                      {% endfor %}
                   {%endif%}
                 {% endfor %}
                 </ul>
                 </li>
                 <li>Answers: {{ question.answers_set.count }}</li>
                 <li>Follows: {{ question.follows_set.count }}</li>
                 <li>Posted On: {{question.created_at}}</li>
             </ul>
          </li>
         {% endfor %}
     </ul>
</body>
</html>
