<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
     <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Add Questions</title>
</head>
<body>
<div class="container">
{% csrf_token %}
 <h1 class="h2 Bootstrap heading (2rem = 32px) text-primary">Add Questions</h1>
    


    <!-- navigation bar -->
    <nav class="navbar navbar-expand-sm bg-success navbar-dark h6 heading secondary text">
        <!-- Links -->
      <ul class="navbar-nav">


        <li class="nav-item">
           <a class="nav-link" href="{% url 'list_questions' %}">Forum</a>
        </li>
          <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Manage Account
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">View Account</a>
            <a class="dropdown-item" href="#">Edit Account </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Questions
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">View my questions</a>
            <a class="dropdown-item" href="{% url 'add_question' %}">Add New doubts</a>
          </div>
        </li>

        <li>
            <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </nav>




    <div class="jumbotron">

        <h1 class="text-muted h6 heading secondary text">Enter the details below:</h1><br>
        <form method="POST">
          <table>
            <label>
              viisibility=false means you are asking anonymously
            </label>
              {{ form }}
          </table>
              <br>
          <button type="submit" class="save btn btn-primary" style="margin-left:150px;">SAVE</button>
        </form>

      </div>
</div>
</body>
</html>