<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalab=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Event Detail</title>
</head>
<body>
        {% csrf_token %}
        <h1>Event details of {{event.title}}</h1>
        <h2>
            <ul>
                <li>
                        Description:{{event.description}}
                </li>
                <li>
                        Start Time:{{event.start_time}}
                </li>
                <li>
                        End Time:{{event.end_time}}
                </li>
                <li>
                      <span>
                            <img src="{{ event.image_url }}" alt="Event ">
                      </span> 
                </li>
            </ul>
        </h2>


</body>

