<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalab=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Events</title>
</head>
<body>


    <h1>EVENTS:</h1>
    <li>
        {% if perms %}
        <h1>Hello superuser:Update Event</h1>
        <div >
                <p>Enter the details below:</p><br>
                <form method="POST" > {% csrf_token %}
                  <table>
                      {{ upform }}
                  </table>
                      <br>
                  <button type="submit" class="save btn btn-primary" style="margin-left:150px;">UPDATE</button>
                </form>
              </div>
              {% else %}
              <p><a href="{% url 'login' %}">LOGIN</a></p>
        {% endif %}
    </li>
    <div id='msg'>
        doosra
    </div>


</body>
</html>